permissions:
  id-token: write # Ez KÖTELEZŐ az OIDC-hez!
  contents: read

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::563149050409:role/snapsoft-locust-dev-github-actions-iam-role
          aws-region: eu-central-1
          
      - name: Run Terraform or AWS CLI
        run: aws sts get-caller-identity

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2